aiohttp==3.11.14
folium==0.19.5
geopandas==1.0.1
geopy==2.4.1
numpy==1.26.4
openai==1.66.3
pandas==2.2.3
pandas-datareader==0.10.0
python-dotenv==1.0.1
streamlit_folium==0.24.0
flask==3.1.0
gunicorn==21.2.0
